input:is(:-webkit-autofill, :autofill) {
  border: 3px solid darkorange;
}
.auth {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgb(33, 33, 41);
}
.auth form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 20%;
  color: #737373;
}
.auth form input {
  border-radius: 10px;
  background-color: #1c1c25;
  border: 1px solid #0b0b0d;
  color: #737373;
}
.auth h1,
.auth_form_title {
  text-align: center;
  color: #c6a168;
}
.auth_error_label {
  margin: 20px 0;
  color: red;
}
.auth_form_title {
  margin: auto;
}
.auth_form_username_label {
}
.auth_form_username_input {
  padding: 10px 20px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.auth_form_password_label {
}
.auth_form_password_input {
  padding: 10px 20px;
  margin: 10px 0;
  margin-bottom: 20px;
}
.auth_form_username_input,
.auth_form_password_input {
  outline: #c6a168;
}
.auth_form_submit {
  border: 0px;
  color: #fff;
  font-size: 20px;
  background-color: #c6a168;
  padding: 10px 20px;
  margin: 20px 0;
}
.password_reset_label {
  margin: 5px auto;
}
.password_reset_link {
  margin: 5px auto;
  color: #c6a168;
}
.or_seperator_span {
  margin: auto;
}
.Login_form_sign_up {
  background-color: inherit;
  border: 1px solid rgb(198, 161, 104);
  color: #c6a168;
  text-align: center;
}
.auth_form_submit,
.Login_form_sign_up {
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 20px;
  border-radius: 10px;
}
form a {
  text-decoration: none;
  color: #c6a168;
}
.auth_link_reset,
.auth_link_reset_resend{
  margin: 5px auto;
}

/* Main */
.main{
  /* border: 1px solid red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(33, 33, 41);
  /* grid-template-columns: repeat(15, 1fr); */
  /* grid-template-rows: repeat(1, 1fr); */
  overflow: hidden;
}
.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content::-webkit-scrollbar{
  /* display: none; */
  color: #C6A168
}
.page_body{
  margin:   0 50px;
  overflow: scroll;
}
.floating_search_bar{
  /* height: 50px;  */
  /* width: 100px; */
  /* border: 1px solid red; */
  position: absolute;
  top: 20px; 
  right: 20px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(33, 33, 41);
  color: #C6A168;
}

.floating_search_bar input{
  width: 300px;
  padding: 5px;
  margin: 0px;
  border: 0px;
  background-color: inherit;
  outline: none;
  color: #c6a168;
  text-indent: 20px;
}
.floating_search_bar svg{
 margin: 10px;
}


/* footer media bar */
#footer{
  /* height: 100px;  */
  /* width: 100p; */
  /* grid-row: 66; */
  /* border: 1px solid red; */
  background-color: #000;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 12;
  grid-row-end: 13;
  padding: 10px 30px;
  position: relative;
  bottom: 0px;
  color: #ddd;
  display: grid;
  grid-template-columns: repeat(12, auto);
}
.bottom_Mediabar_progressbar_container{
  background-color: rgba(198, 161, 104, .5);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 1px;
  transition: all .5s;
}
.bottom_Mediabar_progressbar_container:hover{
  height: 20px;
  top: -20px;
}
.bottom_Mediabar_progressbar{
  height: inherit;
  background-color: #C6A168;;
  transition: all .5s ease-in-out;
}
.bottom_Mediabar_content_info_container{
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end:1;
  /* border: 1px solid red; */
  max-width: 400px;
  overflow: hidden;
}
.Mediabar_content_artwork{
  height: 50px;
  width: 50px; 
  background-color: #ddd;
  border-radius: 5px;
}
.Mediabar_content_info{
  width: 300px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
  font-size: .9rem;
  text-wrap: nowrap;
}
.Mediabar_content_info span{
  text-overflow: ellipsis;
}
.Mediabar_content_info span:nth-child(2){
  font-size: 1.4rem;
}
.bottom_Mediabar_playercontrols{
  /* height: 50px; */
  /* width: 500px;  */
  /* border: 1px solid orange; */
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.bottom_Mediabar_playercontrols button:nth-child(3){
  /* color: red; */
  font-size: 2rem;
}
.bottom_Mediabar_playercontrols button{
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  background-color: transparent;
  border: 0px;
  color: #737373;

}
.bottom_Mediabar_playercontrols button:hover{
  color: #C6A168;
}
.bottom_Mediabar_playerOptions{
  grid-column-start: 12;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: right;
  /* padding: 20px; */
  gap: 50px;
  /* justify-content: space-between; */
}
.bottom_Mediabar_playerOptions button{
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  background-color: transparent;
  border: 0;
  color: #737373
}
.volume_control_container{
  display: flex;
  gap: 20px;;
  /* position: absolute; */
  /* top: -60px; */
  /* right: 20px; */
  background-color: #0b0b0d;
  padding: 10px;
  align-items: center;
}
.volume_control_container input[type='range']{
  /* -webkit-appearance: none; */
  /* background-color: red; */
  outline: none;
  height: 10px; 
}
.volume_control_container input[type='range']::-webkit-slider-thumb{
  /* -webkit-appearance: none;; */
  /* background-color: red;; */
  /* height: 20px;  */
  /* width: 20px; */
}
.volume_control_container input[type='range']::-moz-range-thumb{
  /* -webkit-appearance: none; */
  /* height: 10px;  */
  /* width: 200px;  */
  /* background-color: red; */
}
.volume_control_container input[type='range']::-webkit-slider-runnable-track{
  /* background-color: orange; */
}
/* /Home */
.page_container{
  /* border: 1px solid red; */
  /* height: 100%; */
  overflow: scroll;
  width: 100vw;
}
.main_header{
  /* width: inherit; */
  height: 65vh;
  
  /* border: 1px solid #ddd; */
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 50px; */
  position: relative;
  transition: all .3 ease-in-out;
}
.video_header{
  /* position: absolute; */
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  /* z-index: 10 */
}
.headerOverlay{
  /* border: 1px solid red; */
  height: 100%;;
  background-image: linear-gradient(180deg, transparent, #212129);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10px;
}
.header_title{
  color: #C6A168;
  font-size: 6rem;
  position: absolute;
  bottom: 50px;
  left: 90px;
}
.header_video_detail{
  /* height: 100px;  */
  /* width: 100px;  */
  /* border: 1px solid red; */
  position: absolute;
  right: 100px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ddd;
  align-items: end;
}
.header_video_detail button{
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #C6A168;
  color: #C6A168;
  max-width: 100px;
}
.header_video_detail span:nth-child(2){
  font-weight: bold;
}
section{
  border-bottom: 1px solid rgb(221, 221, 221, .05);
  max-width: 90%;
  margin: 50px auto 0;
  padding-bottom: 40px;
}
.header_progress_bar_container{
  height: 1px; 
  background-color: rgba(198, 161, 104, .2);
  position: absolute;
  bottom: 0px; 
  left: 0px; 
  right: 0px; 
}
.header_progress_bar{
  width: 30%;
  height: inherit;
  background-color: #c6a168;
  position: absolute;
}
.pagination_container{
  /* height: 100px;  */
  /* width: 100px;  */
  /* border: 1px solid red; */
  /* position: absolute; */
  /* right: 0px; */
  /* left: 0px;  */
  /* bottom: 0px; */
  display: flex;
  margin-right: 80px;
}
.pagination_dots{
  /* margin: 0 auto; */
  display: flex;
  margin-left: auto;
  /* mar */
}
.pagination_dot:nth-child(1){
  /* background-color: #C6A168; */
}
.pagination_dot{
  height: 10px; 
  width: 10px; 
  /* border: 1px solid red; */
  margin: 10px 5px; 
  border-radius: 20px;;
  border: 1px solid #C6A168
}
/* Main Content */
.section_header{
  display: flex;
  justify-content: space-between;
}
.section_header button{
  background-color: transparent;
  border: 0;
}
.section_subheading{
  font-size: 2em;
}
.section_item_container{
  display: flex;
  justify-content: space-between;
}
.large_user_avi{
  /* width: 100px;  */
  /* border: 1px solid red; */
  /* padding: 10px 0; */
  text-align: center;
  color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;

}
.user_avi{
  height: 160px; 
  width: 160px; 
  /* border: 1px solid #ddd;  */
  border-radius: 50%;;
  /* margin-bottom: 10px; */
  /* background-position: center; */
  /* background-size: cover; */
  object-fit: cover;
}

/* Video Items */
.video_item_container{
  /* height: 100px;  */
  width: 325px;
  /* border: 1px solid rgba(115, 115, 115, .1); */
  /* padding: 5px; */
  border-radius: 10px;


}
.video_item_poster{
  height: 175px;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video_item_info_container{
  padding: 10px 0;
  display: flex;
  text-wrap: wrap;
  text-overflow: ellipsis;
  /* border:1px solid red; */
  gap: 10px;
  width: 100%;
}
.video_item_author_avi{
  height: 35px; 
  width: 35px; 
  /* border: 1px solid red; */
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video_item_info{
  display: flex;
  flex-direction: column;
  color: #ddd;
  overflow: hidden;
}
.video_item_info span:nth-child(1){
  /* color: red; */
  /* text-wrap: nowrap; */
  text-overflow: ellipsis;
  width: inherit;;
  overflow: hidden;
  font-weight: bold;
}
.video_item_info span:nth-child(2){
  /* color: red; */
  font-size: .9rem;

}
.video_item_info span:nth-child(3){
  /* color: red; */
  font-size: .6rem;
  margin-top: 5px;

}

/* Audio Item */
.audio_item_container{
  color: #ddd;; 
  
  border-radius: 8px;
}
.audio_item_art{
  width: inherit; 
  object-fit: contain;
}
.audio_item_track_image_container{
  width: 160px; 
  height: 160px; 
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.audio_item_track_image_overlay{
  background-color: rgba(28, 28, 37,.3);
  height: inherit;
  width: inherit;
  border-radius: inherit;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.audio_item_track_image_overlay:hover{
  opacity: 1;
}
.audio_item_track_image_overlay button{
  padding: 20px;
  border-radius: 50%;;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #C6A168;
  border: 1px solid #1c1c25;
  background-color: #1c1c25;
}
.audio_item_track_image_overlay button i{
  font-size: 25px;
  display: flex;
  align-items: center;
}
.audio_item_info{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-width: 150px;
  /* text-wrap: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.audio_item_info span:nth-child(1){
font-weight: bold;
}d
.audio_item_info span:nth-child(2){
  font-size: .9rem;
  text-wrap-mode: nowrap;
}
.audio_item_info span:nth-child(3){
  font-size: .8rem;
  color: #707070;
}

.audio_list_item_container{
  display: flex;
}
.audio_list_item_image{
  height: 50px; 
  width: 50px; 
  /* border: 1px solid red; */
  border-radius: 5px;
  object-fit: cover;
}
.audio_list_item_info{
  display: flex;
  flex-direction: column;
  margin: auto 10px;
  overflow: hidden;
} 
.audio_list_item_info span{
  /* color: red; */
  /* max-width: 100px; */
  text-wrap: nowrap;
  text-overflow: clip;
  overflow: hidden;
}
.audio_list_item_info span:nth-child(1){
  display: block;
  font-weight: bold;
  max-width: 100%;
  text-overflow: ellipsis;
  /* border: 1px solid red; */
}
.audio_list_item_info span:nth-child(2){
  font-size: .8rem;
}

/* Medium user list Item  */
.medium_user_list_item_container{}
.medium_user_list_item{
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
}
.medium_user_list_item_image{
  height: 75px; 
  width: 75px; 
  /* border: 1px solid red; */
  border-radius: 50%;
  object-fit: cover;
}
.medium_user_list_item_info{
}
.h_list{
  display: flex;
  justify-content: start;
  gap: 25px;
}