.browserContainer{
    /* height: 100px;  */
     /* max-width: %;  */
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 20px 0;
}
.search_header{
    /* border: 1px solid red; */
    /* display: flex; */
}
.search_filter_container{
    border-bottom: 1px solid #323232;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 90%;
    margin: auto;
}
.search_filter_container span{
    padding: 10px;
}
.search_filter_container ul{
    display: flex;
    align-items: center;
    margin: 0px;
}
.search_filter_container ul li{
    padding: 10px;
    list-style-type: none;
}
.browserContainer section{
    /* border: 1px solid red; */
    margin: 50px 0;
}
.browserContainer input{
    padding: 10px 0px;
    text-indent: 20px;
    border-radius: 5px;
    border: 1px solid #323232;
    background-color: #1c1c2575 ;
    outline: none;
    color: #ffff;
    width: 90%;
    margin: 20px auto;
    display: block;
    /* border: 1px solid red; */
}
.browserContainer h1{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}
.catagory_browser_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}
.catagory_browser_item{
    height: 200px; 
    /* width: 100px; */
    /* border: 1px solid red; */
    /* margin: 10px; */
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    overflow: hidden;
}
.catagory_browser_item_overlay{
    height: inherit;
    width: inherit;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color:#fff;
    font-weight: bold;
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: auto;
}
.search_history_container{
    /* justify-content: space-around; */
    overflow-x: scroll;
}
.recent_search_section button{
    color: #aaa
}
.search_section{
    border-bottom: 1px solid #28282a;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    text-align: start;
}
.section_avi{
    /* border: 1px solid red; */
    height: 150px; 
    width: 150px;
    border-radius: 50%;
    color: #ddd;
    object-fit: cover;
}
.search_section button{
    padding: 10px;
    /* max-height: 20px; */
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    color: #ddd;
}
.section_detail,
.section_video_detail{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.detail{
    display: flex;
    flex-direction: column;
}
.section_album_cover{
    height: 150px; 
    width: 150px;
    border-radius: 10px;;
}
.section_detail span:nth-child(1){
    color: #aaa;
    font-size: .8rem;
}
.section_detail span:nth-child(2){
    font-size: 1.5rem;
}
.section_detail span:nth-child(3){
    font-size: .9rem;
}
.section_video_cover{
    height: 150px; 
    width: 275px;
    border-radius: 10px;
    object-fit: cover;
}

.section_video_detail span:nth-child(1){
    font-size: 1.5rem;
}
.section_video_detail span:nth-child(2){
    font-size: .9rem;
}
@media screen and (max-width: 740px) {
    .catagory_browser_container{
        display: flex;
        flex-direction: column;
    }
}