:root {
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  /* display: block; */
  margin: 0px; 
  padding: 0px;
}
a:hover {}

body {
  margin: 0;
  font-family: inter, system-ui;
}

h1 {}

button {}
button:hover {}
button:focus,
button:focus-visible {}

@media screen and ( max-width: 800px){
  .content{
    /* grid-column-start: 2; */
    /* grid-column-end: 11; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    overflow: scroll;
    position: relative;
  }

}

@media screen and ( max-width: 1400px){
  .content{
    /* grid-column-start: 2; */
    /* grid-column-end: 13; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    overflow: scroll;
    position: relative;
    /* border: 1px solid red; */
  }

  aside{
    display: none
  }
}

@media screen and ( min-width: 1440px){
  .content{
    /* grid-column-start: 2; */
    /* grid-column-end: 13; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    overflow: scroll;
    position: relative;
  }

  aside{
    /* grid-column-start: 11; */
    /* grid-column-end: 13; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    background-color: #1C1C25;
    border-left: 1px solid #0B0B0D;
    padding: 20px;
  }
  
  aside{
    display: block;
  }
}
