* {
  border: 0px; 
  margin: 0px; 
  outline: 0px; 
  padding: 0px;
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
ul{
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0px; 
  padding: 0px;
}
span{ font-size: 1rem }
a:hover {}
body {
  margin: 0;
  font-family: 'inter', system-ui;
}

h1 {}
button{ outline: none }
button{ outline:  none;}
button:hover {}
button:focus,
button:focus-visible {}
input { outline: #c6a168 }

@media screen and ( max-width: 800px){
  .content{
    /* grid-column-start: 2; */
    /* grid-column-end: 11; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    overflow: scroll;
    position: relative;
  }

}

@media screen and ( max-width: 1400px){
  .content{
    /* grid-column-start: 2; */
    /* grid-column-end: 13; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    overflow: scroll;
    position: relative;
    /* border: 1px solid red; */
  }

  aside{
    display: none
  }
}

@media screen and ( min-width: 1440px){}

@media screen and (max-width: 740px) {
  .page_body{
    margin: 0px 0px;
    padding: 0px
    border: 1px solid red;
  }
}