.listen_page_container{
    
    /* margin: 50px; */
    /* max-width: 95%; */
    margin: auto;
}
@media screen and (min-width: 1024) {
    .list_page_container{
        height: 100px; 
        width: 75%;
    }
}
.listen_page_container section{
    /* margin: 25px 0;  */
    padding-bottom: 50px;
    border-bottom: 1px solid #262629;
    /* overflow: scroll; */
}
.listen_page_header{
    height: 400px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}
.listen_page_header_overlay{
    height: inherit;
    width: inherit;
    background-image: linear-gradient(180deg, transparent, #212129);
    position: relative;
    display: flex;
    align-items: c;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(2px);
   
}
.header_feature{
    width: 90%;
    /* padding: 20px;; */
    display: flex;
    margin:auto;
    /* position: absolute; */
    bottom: 0px;
    left: 10%;
    right:10%;
    justify-content: space-between;
    align-items: center;
}

.listen_header_track_image{
    height: 250px; 
    width: 250px;
    /* border: 1px solid red; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all .5s ease-idn-out;
}

.listen_header_track_detail_container{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}
.listen_header_track_detail_container span{
    font-weight: bold;
}
.track_title{
    font-size: 4rem;
}
.track_cta{
    width: 125px;
    margin: 20px 0;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgba(198, 161, 104,.5);
    border: 0;
    color: #fff;
}

.dual_list_collection{
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: auto; */
    gap: 5px;
    padding: 5px
}

/* pagination */
.paginationButtonContainer{
    /* height: 10px; */
    position: absolute;
    bottom:  0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
}
.paginationBtns{
    /* border:1px solid red; */
    display: flex;
    gap: 10px;
    padding: 10px;
}
.paginationBtn{
    height: 10px; 
    width: 10px; 
    border: 1px solid rgba(198, 161, 104,1);;
    border-radius: 50%;
    transition: all .3 ease-in-out;
}
.paginationBtn:hover{
    background-color:  rgba(198, 161, 104,1);
}

.small_list_item_container{
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
    gap: 5px;
    /* width: 50%; */
    position: relative;    
}
.small_list_item_image{ 
    height: 50px;
    width: 50px;
    background-color: #ddd;
    border-radius: 5px;;
}
.small_list_item_detail_container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.small_list_item_detail_container span:nth-child(1){
    font-weight: bold;
}
.small_list_item_detail_container span:nth-child(2){
    /* color: red; */
    font-size: .8rem;
}
.ellipsis_button{
    /* position: absolute; */
    /* right: 0px;
    top: 0px;
    bottom: 0px; */
    background-color: inherit;
    border: 0px;
    color: #fff;
    font-size: 2rem;
}
.genre_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.genre_item{
    /* border: 1px solid red; */
    height: 200px;
    /* width: 175px */
    background-color: #2A2A34;
    border-radius: 10px;;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.genre_item_more_button{
    height: 100px;
    width: 100px;
    /* border: 1px solid red; */
    margin: auto;
    border-radius: 50%;;
    background-color: #2A2A34;
    border: 2px solid rgba(198, 161, 104, .3);
    color: #C6A168;
}
@media screen and (max-width: 740px) {
    .small_list_item_container{
        flex-direction: column;
    }
    .small_list_item_image{
        height: 150px;
        width: 150px;
    }
    .genre_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}