/* Nav */
nav{
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
    /* grid-row-start: 1; */
    /* grid-row-end: 12; */
    /* border-right: 1px solid #262629; */
    /* padding: 20px; */
    /* width: 200px; */
    background-color: #000;;
    /* border: 1px solid red; */
    display: flex;
    /* height: 200px; */
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav_main{
    display: flex;
    align-items: center;
  }
  .logo{
    color: #97B4FF;
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }
  .nav_avi_container{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    
    font-size: 13px;
    gap: 20px;
  }
  .nav_avi_container span{
    font-size: 1.1rem;
    padding: 10px;
  }
  .nav_auth_button_container{
    /* width: 250px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }s
  .nav_auth_button_container > button{
    padding: 5px 100px;
    width: 200px;
    border-radius: 5px;
  }
  .nav_auth_button_container button:nth-child(1){
    background-color: rgba(198, 161, 104,.8);
    border: 1px solid rgba(198, 161, 104,.8);
    color: #fff;
    padding: 10px;border-radius: 5px;
    margin: 0px 20px;
  }
  .nav_auth_button_container button:nth-child(1):hover,
  .nav_auth_button_container button:nth-child(2):hover{
    background-color: rgba(198, 161, 104,.8);
    color: #fff
  }
  .nav_auth_button_container button:nth-child(2){
    border: 1px solid rgba(198, 161, 104,.8);
    color: #C6A168;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 20px;
  }
  .nav_avi{
    height: 30px; 
    width: 30px;
    background-color: #aaa;;
    border-radius: 50%;
    margin: 10px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav_links {
    display: flex;
    gap: 20px;;
    align-items: center;
    max-height: 25px;
  }
  .nav_links a,
  .nav_avi_container a{
    border: .5px solid rgba(198, 161, 104,.2);
    color: rgba(198, 161, 104,.8);
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  .nav_links a:hover{
    border: .5px solid rgba(198, 161, 104,.5);
    color: white;
    background-color: rgba(198, 161, 104,.9);
  }
  a span{
    /* border: 1px solid red; */
    display: block;
    width: 4rem;
    margin: auto;
    /* display: flex; */
  }
  a span svg{
    font-size: 1rem;
    /* color: red; */
    margin-right: 5px;
  }
  .nav_section_subtitle{
    /* display: inline-block; */
    /* padding: 10px 0px; */
    /* margin: 10px; */
    color: #aaa;
  }
  .nav_section_live_collection{
    /* border-top: 1px solid #aaa; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .nav_section_live_collection span{
    display: block;
    font-size: 13px;
    width: inherit;
    white-space: no wrap;
    text-overflow: ellipsis;

  }
  .nav_live_user_{
    /* width: 100px; */
    display: flex;
    align-items: center;
    border: .5px solid rgba(198, 161, 104,.5);
    padding: 3px;
    border-radius: 35px;
    margin: 5px 0;
    overflow: hidden;
    
  }
  .nav_live_user_ span{
    text-overflow: ellipsis;
  }
  .nav_live_user_avi{
    height: 30px;
    width: 30px;
    background-color: #aaa;
    border-radius: 50%;;
    margin-right: 20px;
    /* border: 1px solid red; */
  }