/* Nav */
nav{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 12;
    border-right: 1px solid #262629;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav_main{
    margin: 20px;
  }
  .logo{
    /* border: 1px solid red; */
    color: #97B4FF;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  .nav_avi_container{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* padding: 10px; */
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #aaa;
    /* border: 1px solid red; */
    border-top: 1px solid #262629;
  }
  .nav_avi_container span{
    /* border: 1px solid red; */
    font-size: .9rem;
    padding: 10px;
  }
  .nav_auth_button_container{
    padding: 20px;
    display: flex;
    /* justify-content: space-between; */
  }
  .nav_auth_button_container button{
    padding: 5px 20px;
    text-wrap: nowrap;
    margin: 5px;
    border-radius: 5px;
  }
  .nav_auth_button_container button:nth-child(1){
    background-color: rgba(198, 161, 104,.8);
    border: 1px solid rgba(198, 161, 104,.8);
    color: #fff;
  }
  .nav_auth_button_container button:nth-child(1):hover,
  .nav_auth_button_container button:nth-child(2):hover{
    background-color: rgba(198, 161, 104,.8);
    color: #fff
  }
  .nav_auth_button_container button:nth-child(2){
    border: 1px solid rgba(198, 161, 104,.8);
    /* border: 0; */
    color: #C6A168;
    background-color: transparent;
  }
  .nav_avi{
    height: 30px; 
    width: 30px;
    background-color: #aaa;;
    border-radius: 50%;
    margin: 10px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .nav_links {
    margin: 10px 0; 
    /* padding-bottom: 10px; */
    /* padding: 20px 0; */
    /* border-bottom: 1px solid rgba(198, 161, 104, .2); */
    display: flex;
    flex-direction: column;
  }
  .nav_links a{
    color: #aaa;
    /* width: 150px; */
    list-style-type: none;
    /* border: 1px solid #C6A168; */
    border: .5px solid rgba(198, 161, 104,.5);
    color: rgba(198, 161, 104,.8);
    padding: 10px 5px;
    margin: 5px 0px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    /* color: #C6A168 */
  }
  .nav_links a:hover{
    border: .5px solid rgba(198, 161, 104,.5);
    color: white;
    background-color: rgba(198, 161, 104,.9);
  }
  a span{
    /* border: 1px solid red; */
    display: block;
    width: 4rem;
    margin: auto;
    display: flex;
  }
  a span svg{
    font-size: 1rem;
    /* color: red; */
    margin-right: 5px;
  }
  .nav_section_subtitle{
    display: inline-block;
    /* padding: 10px 0px; */
    /* margin: 10px; */
    color: #aaa;
  }
  .nav_section_live_collection{
    /* border-top: 1px solid #aaa; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  .nav_section_live_collection span{
    display: block;
    font-size: 13px;
    width: inherit;
    white-space: no wrap;
    text-overflow: ellipsis;

  }
  .nav_live_user_{
    /* width: 100px; */
    display: flex;
    align-items: center;
    border: .5px solid rgba(198, 161, 104,.5);
    padding: 3px;
    border-radius: 35px;
    margin: 5px 0;
    overflow: hidden;
    
  }
  .nav_live_user_ span{
    text-overflow: ellipsis;
  }
  .nav_live_user_avi{
    height: 30px;
    width: 30px;
    background-color: #aaa;
    border-radius: 50%;;
    margin-right: 20px;
    border: 1px solid red;
  }