.playlist_header{
    /* height: 40vh; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
audio{
    display: none;
}
.playlist_header_overlay{
    /* height: 100%; */
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(2px);
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-image: linear-gradient(180deg, transparent, #212129);
}
.playlist_header_item_container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 50px 0;
}
.header_playlist_image{
    height: 400px;
    width: 400px; 
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 50px #212129;
}
.header_playlist_track_list{
    /* border: 1px solid red; */
    /* width:8%; */
    /* max-height: 400px; */
    overflow-y: scroll;
    gap: 20px
}
.trackSectionHeader{
    display: flex;
    flex-direction: column;
}
.trackSectionHeader span{
    margin: 5px 0;
}
.trackSectionHeader span:nth-child(1){
    font-weight: bold;
}
.trackSectionHeader span:nth-child(2){
    color: #6a6a6a;
    font-size: .9rem;
}
.playlist_item_container{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 0px;
    gap: 50px;
    justify-content: space-between;
    border-radius: 5px;
}
.playlist_item_container:hover{
    background-color: rgba(198, 161, 104,.8);
    /* border: 1px solid red; */
}
.track_numner{
    padding: 10px;
    color: #c6a168;
}
.track_item_container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;;
}
.track_item_detail{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: 10px
}
.track_item_detail span:nth-child(1){
    font-weight: bold;
    font-size: 1.2rem;
}
.track_item_detail span:nth-child(2){
    font-size: .8rem;
    color: #999
}
.track_buttons{
    /* border: ddd1px solid red; */
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 10px;
}
.optionsList{
    position: absolute;
    width: 200px;
    left: -200px;
    background-color: #aaa;
    top: px;
}
.track_buttons button,
.track_item_container button{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.4rem;
}
.track_buttons button:hover{
    color: #c6a168;
}
.header_playlist_detail{
    height: 100px; 
    width: 90%;
    /* border: 1px solid red; */
    margin: 10px auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    /* background-color: inherit; */
}
.header_playlist_author_detail_container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_playlist_author_image{
    height: 65px; 
    width: 65px; 
    /* border: 1px solid red; */
    border-radius: 50%;;
    background-position: center;
    background-size: cover;
}
.header_playlist_author_detail{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* padding: 0 20px; */
    margin: auto;

}
.header_playlist_author_detail span:nth-child(1){
    /* color: red; */
    font-size: 3rem;
    font-weight: bold;
}
.header_playlist_buttons{
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
}
.header_playlist_buttons button{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 0;
    background-color: transparent;
}
.header_playlist_buttons button:not(:first-child){
    color: #ddd;
    font-size: 1.5rem;
}
.header_playlist_buttons button:first-child{
    font-size: 4rem;
    color: #c6a168;
    /* border: 1px solid red; */
}
.playlist_section_item_container{
    display: flex;
    gap: 50px;
    padding: 20px 0;
    overflow: scroll;
    
}
div::-webkit-scrollbar{
    display: none;
}
.playlist_body_container{
    width: 90%;;
    margin: auto;
}
.playlist_body_container section{
    border-bottom: 1px solid rgb(221, 221, 221, .05);
    margin: 50px 0;
}
@media screen and (max-width: 740px){
    .header_playlist_image{
        height: 200px;
        width: 200px;
        margin: auto
    }
    .playlist_header_item_container{
        padding: 20px 0
    }
    .header_playlist_detail{
        flex-direction: column;
        height: auto; 
    }
    .header_playlist_author_detail_container{
        align-items: normal;
    }
    .playlist_item_container button:nth-child(2){
        display: none;
    }
    .playlist_item_container button:nth-child(3){
        display: none;
    }
}