aside{
  /* overflow: scroll; */
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 250px;
  max-width: 250px;
  background-color: rgba(0,0,0, .4);
  transition: all .3s ease-in-out;
  /* opacity: .8; */
  backdrop-filter: blur(50px);
  overflow: hidden;

}
  .aside_header span{
    font-size: 2rem;
    color: #ddd;
    font-weight: bold;
  }
  .aside_header{
    padding:  10px 0;
    border-bottom: 1px solid rgba(198, 161, 104, .2);
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red;  */
  }
  
  .aside_header button{
    background-color: transparent;
    border: 0px;
    /* font-size: 1.55rem; */
    display: none;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
  .aside_body{
    margin: 10px 0px;
    color: #ddd;
    overflow: scroll;
    background-color: transparent;
  }
  .lib_collection_container{
    /* height: 100px;  */
    margin: 10px 0px;
    /* padding: 10px 0px; */
    display: flex;
    /* width: 100px;  */
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
  }
  .aside_section_title {
    color: #9a9a9a;
    font-weight: bold;
  }

  .video_collection_container{
    display: flex;
    flex-direction: column;
    /* height: 85vh; */
    /* gap: 20px;; */
    overflow-y: scroll;
    /* border: 2px solid red; */
    z-index: 200px;
  }
  
  .small_video_item_container{
    background-color:  #212129;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    gap: 10px
    /* justify-content: space-between; */
  }
  .small_video_item_poster{
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 150px;
    min-width: 250px;
    max-width: 250px;
    /* margin-bottom: 10px; */
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    object-fit: cover;
  }
  .small_video_item_detail_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 10px 10px 0px 10px; */
    /* height: 100%; */
    /* background-color: #; */
    padding: 10px;
  }
  .small_video_item_detail_container span:nth-child(1){
    /* color: red; */
    font-weight: bold;
    font-size: 1.2rem;
  }
  .small_video_item_detail_container span:nth-child(2){
    display: block;
    margin-bottom: 5px;
  }
  .small_video_item_detail_container span:nth-child(3){
    font-size: .8rem;
    color: #aaa;
  }
  .unauthorized_Aside_container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 50% auto;
  }
  .unauthorized_Aside_container span{
    max-width: 50%;
    text-align: center;
  }
  .unauthorized_Aside_button{
    /* border: 1px solid red; */
    /* max-width: 50%; */
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid rgba(198, 161, 104,.8);
    background-color: transparent;
    color: rgba(198, 161, 104,.8);
  }

  .unauthorized_Aside_button:hover{
    background-color: rgba(198, 161, 104,.8);
    color:#fff;
    font-weight: bold;

  }
  .large_Track_item_container{
    /* height: 250px;  */
    /* width: 250px;  */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* gap: 10px;; */
  }
  .large_Track_item_cover{
    object-fit: cover;
    height: 250px;
    width: 250px; 
    border-radius: 10px;;
    margin-bottom: 10px;;
  }
  .large_Track_item_title,
  .large_Track_item_author{
    max-width: 250px;
    /* border: 1px solid red; */
    margin: 0px; 
  }
  .large_Track_item_title{
    
  }
  .large_Track_item_author{
    font-weight: bold;
    font-size: .9rem;
    color: #6a6a6a;
  }